// Custom styles.
// 主页文章添加阴影效果
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
//背景图
@media screen and (min-width:320px) {
    body {
		background-image:url(/images/background.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-attachment:fixed; 
    }
}